<section class="bg-gray-100">
  <div class="rounded-lg bg-white p-8 lg:col-span-3 lg:p-12">
    <form id="model-creation-form" class="space-y-4">
      <div>
        <label for="name">
          Name
          <span class="text-red-500">*</span>
        </label>
        <input
          class="w-full rounded-lg border-gray-200 p-3 text-sm"
          placeholder="Model name"
          type="text"
          name="name"
          required
          autocomplete="off"
        />
      </div>

      <div>
        <label for="base-model">
          Base Model
          <span class="text-red-500">*</span>
        </label>
        <select
          id="models-dropdown"
          name="base_model"
          class="w-full rounded-lg border-gray-200 p-3 text-sm"
          required
        >
          <option value="">Select a base model</option>
        </select>
      </div>

      <div>
        <label for="model-description">Description</label>
        <textarea
          class="resize-none w-full rounded-lg border-gray-200 p-3 text-sm"
          placeholder="Add short description about your model"
          rows="2"
          id="model-description"
          name="model_description"
        ></textarea>
      </div>

      <hr class="my-1" />

      <div>
        <div class="self-center font-semibold">Model Params</div>
        <div>
          <label for="system-prompt">System Prompt</label>
          <textarea
            class="resize-none w-full rounded-lg border-gray-200 p-3 text-sm"
            placeholder="Write your model system prompt content here
e.g.) You are a chatbot that helps users with their queries. You can answer questions about programming, math, science, and more."
            rows="4"
            name="system_prompt"
          ></textarea>
        </div>
      </div>
      <div class="self-center">Advanced Params</div>
      <div class="my-2">
        <div id="params-container" class="space-y-1 text-xs">
          <div class="py-0.5 w-full justify-between">
            <div
              title="Sets the random number seed to use for generation. Setting this to a specific number will make the model generate the same text for the same prompt. (Default: 0)"
              class="self-center text-xs font-medium"
            >
              Seed
            </div>
            <div class="flex w-full justify-between"></div>
            <div class="flex mt-0.5 space-x-2">
              <div class="flex-1">
                <input
                  name="seed"
                  class="w-full rounded-lg py-2 px-4 outline-none"
                  type="number"
                  placeholder="Enter Seed"
                  autocomplete="off"
                  min="0"
                />
              </div>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="Sets the stop sequences to use. When this pattern is encountered the LLM will stop generating text and return. Multiple stop patterns may be set by specifying multiple separate stop parameters in a modelfile."
                class="self-center text-xs font-medium"
              >
                Stop Sequence
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <div class="flex-1">
                <input
                  name="stop"
                  class="w-full rounded-lg py-2 px-4 outline-none"
                  type="text"
                  placeholder="Enter stop sequence"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="The temperature of the model. Increasing the temperature will make the model answer more creatively. (Default: 0.8)"
                class="self-center text-xs font-medium"
              >
                Temperature
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="temperature"
                type="range"
                min="0"
                max="1"
                step="0.05"
                value="0.80"
                data-default="0.80"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                class="self-center text-xs font-medium"
                title="Enable Mirostat sampling for controlling perplexity. (default: 0, 0 = disabled, 1 = Mirostat, 2 = Mirostat 2.0)"
              >
                Mirostat
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="mirostat"
                type="range"
                min="0"
                max="2"
                step="1"
                value="0"
                data-default="0"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="Influences how quickly the algorithm responds to feedback from the generated text. A lower learning rate will result in slower adjustments, while a higher learning rate will make the algorithm more responsive. (Default: 0.1)"
                class="self-center text-xs font-medium"
              >
                Mirostat Eta
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="mirostat_eta"
                type="range"
                min="0"
                max="1"
                step="0.05"
                value="0.1"
                data-default="0.1"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="Controls the balance between coherence and diversity of the output. A lower value will result in more focused and coherent text. (Default: 5.0)"
                class="self-center text-xs font-medium"
              >
                Mirostat Tau
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="mirostat_tau"
                type="range"
                min="0"
                max="10"
                step="0.5"
                value="5"
                data-default="5"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="Reduces the probability of generating nonsense. A higher value (e.g. 100) will give more diverse answers, while a lower value (e.g. 10) will be more conservative. (Default: 40)"
                class="self-center text-xs font-medium"
              >
                Top K
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="top_k"
                type="range"
                min="0"
                max="100"
                step="0.5"
                value="40"
                data-default="40"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="Works together with top-k. A higher value (e.g., 0.95) will lead to more diverse text, while a lower value (e.g., 0.5) will generate more focused and conservative text. (Default: 0.9)"
                class="self-center text-xs font-medium"
              >
                Top P
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="top_p"
                type="range"
                min="0"
                max="1"
                step="0.05"
                value="0.9"
                data-default="0.9"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="Sets how strongly to penalize repetitions. A higher value (e.g., 1.5) will penalize repetitions more strongly, while a lower value (e.g., 0.9) will be more lenient. (Default: 1.1)"
                class="self-center text-xs font-medium"
              >
                Frequency Penalty
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="repeat_penalty"
                type="range"
                min="0"
                max="2"
                step="0.05"
                value="1.1"
                data-default="1.1"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="Sets how far back for the model to look back to prevent repetition. (Default: 64, 0 = disabled, -1 = num_ctx)"
                class="self-center text-xs font-medium"
              >
                Repeat Last N
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="repeat_last_n"
                type="range"
                min="-1"
                max="128"
                step="1"
                value="64"
                data-default="64"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="Tail free sampling is used to reduce the impact of less probable tokens from the output. A higher value (e.g., 2.0) will reduce the impact more, while a value of 1.0 disables this setting. (default: 1)"
                class="self-center text-xs font-medium"
              >
                Tfs Z
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="tfs_z"
                type="range"
                min="0"
                max="2"
                step="0.05"
                value="1"
                data-default="1"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="the size of the context window used to generate the next token. (Default: 2048)"
                class="self-center text-xs font-medium"
              >
                Context Length
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="num_ctx"
                type="range"
                min="-1"
                max="10240000"
                step="1"
                value="2048"
                data-default="2048"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div class="self-center text-xs font-medium">
                Batch Size (num_batch)
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="num_batch"
                type="range"
                min="256"
                max="8192"
                step="256"
                value="512"
                data-default="512"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="Alternative to the top_p, and aims to ensure a balance of quality and variety. The parameter p represents the minimum probability for a token to be considered, relative to the probability of the most likely token. For example, with p=0.05 and the most likely token having a probability of 0.9, logits with a value less than 0.045 are filtered out. (Default: 0.0)"
                class="self-center text-xs font-medium"
              >
                Min P
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="min_p"
                type="range"
                min="0"
                max="1"
                step="0.005"
                value="0.0"
                data-default="0.0"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
          <div class="py-0.5 w-full justify-between">
            <div class="flex w-full justify-between">
              <div
                title="Maximum number of tokens to predict when generating text. (Default: 128, -1 = infinite generation, -2 = fill context)"
                class="self-center text-xs font-medium"
              >
                Max Tokens (num_predict)
              </div>
            </div>
            <div class="flex mt-0.5 space-x-2">
              <input
                name="num_predict"
                type="range"
                min="-2"
                max="16000"
                step="1"
                value="128"
                data-default="128"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
              />
              <span class="sliderValue"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <button
          type="submit"
          class="inline-block w-full rounded-lg bg-black px-5 py-3 font-medium text-white sm:w-auto"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</section>
